.header {
    background-color: #f6bdff;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;    
}

.contactos {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;      
}

.adicionarContacto {
    border-radius: 8px;    
}

.footer {
    background-color: #f6bdff;
    padding: 8px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.row {
    border-color: black;
    background-color: rgb(255, 235, 252);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 53px;
}

.adicionarTarjetas { 
    background-color:white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;   
    margin-right: 20px;
}

.imput { font-size: 15px;
    padding: 10px; 
}

.verDetalle { 
font-size: 18px;
padding: 5px;
background-color:#f8c8fa;
font-weight: bold;
font-family: 'Raleway', sans-serif;
}

.contenedor { 
padding: 20px;
border: #f6bdff 4px solid;
border-radius: 35px ;
margin: 25px;
width: 70%;
text-align: center;
}

.botonAdicionar {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 235, 252);
    padding-left: 85px;
    padding-top: 30px;
}

.contenedorBotonAdicionar{
    background-color:rgb(255, 235, 252);
}

.contenedorMayor { 
text-align: center;
width: 30%;
}

.imagenUsuario {
    border-radius: 40px;
}

.borrarContacto {
    background-color:rgb(255, 235, 252);
    color:red;
    font-size: 20px;
    border: none;
    position: absolute;
    margin-left: 45px;
}

.filtrarNombres {
    background-color:white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;   
    margin-right: 20px;
}

.filtrarApellidos {
    background-color:white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;   
    margin-right: 20px;
}

.filtrarEdades {
    background-color:white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;   
    margin-right: 20px;
}

.contenedorNuevo{
width: 100%;
padding-left: 250px;
padding-right: 250px;
border: #f6bdff 4px solid;
border-radius: 35px ;
margin: 25px;
text-align: center;   
}

.hidden{
    display: none;
}

.notHidden{
    display: block;
}

.ordenar {
    background-color:white;
    padding: 10x;
    font-weight: bold; 
    font-size: 13px;
}
